fastapi
uvicorn
pandas
openpyxl
python-multipart
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pypdf
python-docx
pydantic
python-dotenv
requests
docx2txt
pdfplumber
RestrictedPython